{% extends "base.html" %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Подготовка к экзамену истории за 6 класс</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Помоги бедным славянам построить наконец свое государство! Без твоей помощи они останутся без государства. Без государства славянам плохо. Их место на карте будет помечено словами "Здесь живут драконы"</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a type="button" class="btn btn-primary btn-lg px-4 gap-3" href="/question/1">Вперед к государству!</a>
      <a type="button" class="btn btn-outline-secondary btn-lg px-4" href="/mustdie">Я трус, скорее убегаем отсюда!</a>
    </div>
  </div>
</div>
{% endblock %}